[client]
port={{ mysql_port }}
socket={{ mysql_sock }}

[mysqld]
basedir={{ mysql_install_dir }}
datadir={{ mysql_data_dir }}
socket={{ mysql_sock }}
user=mysql
server_id={{ server_id }}
log-bin={{ mysql_logs_dir }}/bin-log
relay-log={{ mysql_logs_dir }}/relay-log
expire_logs_days=15

rpl_semi_sync_master_enabled = 1
rpl_semi_sync_slave_enabled = 1
slave-parallel-type=LOGICAL_CLOCK
slave-parallel-workers=16
master_info_repository=TABLE
relay_log_info_repository=TABLE
relay_log_recovery=ON

gtid_mode=ON
enforce_gtid_consistency=ON

slow_query_log = 1
long_query_time = 2
log_queries_not_using_indexes = 0
slow_query_log_file ={{ mysql_logs_dir }}/slow.log

#### memory configure
innodb_buffer_pool_size={{ innodb_buffer_pool_size }}
sort_buffer_size={{ sort_buffer_size }}
innodb_file_per_table=1
#skip_name_resolv=1
max_connections=3000
skip_grant_tables=1
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
