[client]
port={{ mysql_port }}
socket={{ mysql_sock }}

[mysqld]
basedir={{ mysql_install_dir }}
datadir={{ mysql_data_dir }}
socket={{ mysql_sock }}
user=mysql
server_id={{ server_id }}
log-bin={{ mysql_logs_dir }}/bin-log
relay-log={{ mysql_logs_dir }}/relay-log

#### memory configure
innodb_buffer_pool_size={{ innodb_buffer_pool_size }}
sort_buffer_size={{ sort_buffer_size }}
innodb_file_per_table=1
#skip_name_resolv=1
max_connections=3000
skip_grant_tables=1
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
